<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>ChatApplication</title>
  </head>
  <body>
    <!-- <section class="chat_section">
      <div class="brand">
        <img height="40" src="/public/images/HD WhatsApp Logo Paint Splash Icon PNG" alt="">
        <h1>WhatsApp</h1>
      </div>
      <div class="message_area">
        <div class="incoming_msg">
          <h4>Anjali</h4>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores beatae, sunt blanditiis magni dolores doloribus cum provident saepe aspernatur quaerat?</p>
        </div>
        <div class="outgoing_msg">
          <h4>Anjali</h4>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores beatae, sunt blanditiis magni dolores doloribus cum provident saepe aspernatur quaerat?</p>
        </div>
      </div>
      <div>
        <textarea id="textarea" cols="30" rows="1" placeholder="write message"></textarea>
      </div>
    </section> -->

   
    <div class="main">
      <div class="logo">
        <img src="/images/pngegg.png" alt="">
        <h1>WhatsApp</h1>
      </div>
      <div class="message_area">
        <!-- <div class="incoming message">
          <h4>Anjali</h4>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores beatae, sunt blanditiis magni dolores doloribus cum provident saepe aspernatur quaerat?</p>
        </div>
        <div class="outgoing message">
          <h4>Anjali</h4>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores beatae, sunt blanditiis magni dolores doloribus cum provident saepe aspernatur quaerat?</p>
        </div> -->
      </div>
      <div class="bottom">
        <textarea id="textarea" cols="30" rows="1" placeholder="write message"></textarea>
        <button>Send</button>
      </div>
      
    </div>
 
    <script src="/socket.io/socket.io.js"></script>
    
    <script src="/javascripts/script.js"></script>
  </body>
</html>
